<app-admin-home></app-admin-home>
<div class="signup-form">
  <form [formGroup]="registerForm" (ngSubmit)="this.register()">
    <h2>Create Manager</h2>
    <div class="form-group">
      <input formControlName="fullname" type="string" class="form-control" name="fullname" placeholder="Manager Name"
        required="required">
    </div>
    <div class="form-group">
      <input formControlName="email" type="email" class="form-control" name="email" placeholder="Email" required="required">
    </div>
    <div class="form-group">
      <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password"
        required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
    </div>
  </form>
</div>
