<!-- <div class="signup-form">
    <form [formGroup]="registerForm" (ngSubmit)="this.create()">
      <h2>Create Admin</h2>
      <p class="hint-text">Create your account. It's free and only takes a minute.</p>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6"><input formControlName="firstName" type="text" class="form-control" name="first_name"
              placeholder="First Name" required="required"></div>
          <div class="col-xs-6"><input formControlName="lastName" type="text" class="form-control" name="last_name"
              placeholder="Last Name" required="required"></div>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="adminEmail" type="email" class="form-control" name="adminEmail" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" class="form-control" name="password" placeholder="Admin Password"
          required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
      </div>
    </form>
   -->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1>Registration</h1>

  <form action="/">
      <hr>
    <div class="accounttype">
      <input type="radio" value="None" id="radioOne" name="account" checked/>
      <label for="radioOne" class="radio" chec>Personal</label>
      <input type="radio" value="None" id="radioTwo" name="account" />
      <label for="radioTwo" class="radio">Company</label>
    </div>
  <hr>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="name" id="email" placeholder="Email" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="name" id="name" placeholder="Name" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="name" id="password" placeholder="Password" required/>
  <div class="gender">
    <input type="radio" value="None" id="male" name="gender" checked/>
    <label for="male" class="radio" chec>Male</label>
    <input type="radio" value="None" id="female" name="gender" />
    <label for="female" class="radio">Female</label>
   </div>
   <a href="#" class="button">Register</a>
  </form>
</div>