<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <!-- client id, first name, last name, age, address, date of creation,
       balance, current profit or loss from open positions,
        a list of active and past positions, assigned account manager. -->
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by Name:</div>
          <div>
              <input type='text' [(ngModel)]='listFilter' />
          </div>
      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf='clients && clients.length'>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Address</th>
              <th>Date of creation</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let client of filteredClients'>
              <td>
                  {{ client.firstName }}
              </td>
              <td>{{ client.lastName }}</td>
              <td>{{ client.age }}</td>
              <td>{{ client.address }}</td>
              <td>{{ client.dateregistered | date }}</td>
              <td>{{ client.funds.currentamount | currency:'USD':'symbol':'1.2-2'}}</td>
              <td>
                <a (click)="manage(client.id)" >
                  <button type="button" class="btn btn-success">Manage</button>
                </a>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>