<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand sidebar-name">
          Hello, {{token.fullname}}
        </li>
        <li>
          <a [routerLink]="['/manager/clients', client.id , 'portfolio']">
            <i class="material-icons sidebar-material-icons">
              attach_money
            </i>
            <small class="sidebar-text">Portfolio</small>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manager/clients', client.id , '/positions']">
            <i class="material-icons sidebar-material-icons">
              account_circle
            </i>
            <small class="sidebar-text">Positions</small>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manager/stock']">
            <i class="material-icons sidebar-material-icons">
              view_list
            </i>
            <small class="sidebar-text">Stock</small>
          </a>
        </li>
        <li>
          <a [routerLink]="['/watchlist']">
            <i class="material-icons sidebar-material-icons">
              remove_red_eye
            </i>
            <small class="sidebar-text">Watchlist</small>
          </a>
        </li>
        <li>
          <a [routerLink]="['/history']">
            <i class="material-icons sidebar-material-icons">
              history
            </i>
            <small class="sidebar-text">History</small>
          </a>
        </li>
        <li>
          <a (click)="logOut()" style="cursor: pointer">
            <i class="material-icons sidebar-material-icons">
              exit_to_app
            </i>
            <small class="sidebar-text">Logout</small>
          </a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  </div>