<mat-icon svgIcon="thumbs-up" class="facee"></mat-icon>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a [routerLink]="['/home']">
          Hello, {{token.fullname}}
        </a>
      </li>
      <li>
        <a [routerLink]="['/manager']" ><mat-icon svgIcon="thumbs-up"></mat-icon>Clients</a>
      </li>
      <li>
        <a [routerLink]="['/stock/all']">Stocks</a>
      </li>
      <li>
        <a href="#">Watchlist</a>
      </li>
      <li>
        <a href="#">History</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

  </div>
  <!-- /#page-content-wrapper -->
</div>
