<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a [routerLink]="['/home']">
          Hello, {{token.fullname}}
        </a>
      </li>
      <li>
        <a [routerLink]="['/client/all']"><ion-icon name="heart"></ion-icon>Clients</a>
      </li>
      <li>
        <a [routerLink]="['/stock/all']">Stocks</a>
      </li>
      <li>
        <a href="#">Watchlist</a>
      </li>
      <li>
        <a href="#">History</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

  </div>
  <!-- /#page-content-wrapper -->

</div>
